/* src/shared/reset/sanitize.css */
*, :before, :after {
  box-sizing: border-box;
  background-repeat: no-repeat;
}

:before, :after {
  text-decoration: inherit;
  vertical-align: inherit;
}

:where(:root) {
  cursor: default;
  overflow-wrap: break-word;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
}

:where(body) {
  margin: 0;
}

:where(h1) {
  margin: .67em 0;
  font-size: 2em;
}

:where(dl, ol, ul) :where(dl, ol, ul) {
  margin: 0;
}

:where(hr) {
  color: inherit;
  height: 0;
}

:where(nav) :where(ol, ul) {
  list-style-type: none;
  padding: 0;
}

:where(nav li):before {
  content: "​";
  float: left;
}

:where(pre) {
  overflow: auto;
  font-family: monospace;
  font-size: 1em;
}

:where(abbr[title]) {
  text-decoration: underline;
  text-decoration: underline dotted;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(code, kbd, samp) {
  font-family: monospace;
  font-size: 1em;
}

:where(small) {
  font-size: 80%;
}

:where(audio, canvas, iframe, img, svg, video) {
  vertical-align: middle;
}

:where(iframe) {
  border-style: none;
}

:where(svg:not([fill])) {
  fill: currentColor;
}

:where(table) {
  border-collapse: collapse;
  border-color: inherit;
  text-indent: 0;
}

:where(button, input, select) {
  margin: 0;
}

:where(button, [type="button" i], [type="reset" i], [type="submit" i]) {
  -webkit-appearance: button;
}

:where(fieldset) {
  border: 1px solid #a0a0a0;
}

:where(progress) {
  vertical-align: baseline;
}

:where(textarea) {
  resize: vertical;
  margin: 0;
}

:where([type="search" i]) {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

:where(dialog) {
  color: #000;
  position: absolute;
  background-color: #fff;
  border: solid;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;
  left: 0;
  right: 0;
}

:where(dialog:not([open])) {
  display: none;
}

:where(details > summary:first-of-type) {
  display: list-item;
}

:where([aria-busy="true" i]) {
  cursor: progress;
}

:where([aria-controls]) {
  cursor: pointer;
}

:where([aria-disabled="true" i], [disabled]) {
  cursor: not-allowed;
}

:where([aria-hidden="false" i][hidden]) {
  display: initial;
}

:where([aria-hidden="false" i][hidden]:not(:focus)) {
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

/* src/shared/reset/accessibility.css */
.sr-only {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
}

/* src/shared/reset/reduce-motion.css */
@media (prefers-reduced-motion: reduce) {
  *, :before, :after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
  }
}

/* src/shared/reset/forms.css */
:where(button, input, select, textarea) {
  color: inherit;
  font: inherit;
  letter-spacing: inherit;
  background-color: #0000;
  border: 1px solid windowframe;
  padding: .25em .375em;
}

:where(select) {
  -webkit-appearance: none;
  appearance: none;
  background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='4'%3E%3Cpath d='M4 0h6L7 4'/%3E%3C/svg%3E") right center / 1em no-repeat;
  border-radius: 0;
  padding-right: 1em;
}

:where(select[multiple]) {
  background-image: none;
}

/* src/shared/reset/typography.css */
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

code, kbd, samp, pre {
  font-family: ui-monospace, Menlo, Consolas, Roboto Mono, Ubuntu Monospace, Noto Mono, Oxygen Mono, Liberation Mono, monospace, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
}

/* src/toaln/styles/theme.css */
:root {
  --background: #fff;
  --foreground: #000;
  --muted: #444;
  --highlight: #e8e8e8;
  --color-unvisited: #010154;
  --color-visited: #2c0055;
  --border-radius: .6125rem;
}

@media screen and (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
    --muted: #bbb;
    --highlight: #181818;
    --color-unvisited: #aad4ff;
    --color-visited: #e3aaff;
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
}

/* src/toaln/styles/layout.css */
.messages {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message-assistant, .message-user {
  border-radius: var(--border-radius);
  background-color: var(--highlight);
  padding: .75rem 1rem;
}

.message-assistant {
  border-bottom-left-radius: 0;
  margin-right: 2rem;
}

.message-user {
  border-bottom-right-radius: 0;
  margin-left: 2rem;
}

textarea.message-user {
  width: calc(100% - 2rem);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row.reverse {
  flex-direction: row-reverse;
}

.screen {
  display: block;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.vertical-layout {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

.vertical-layout > * {
  margin: 0;
}

.margin {
  opacity: 0;
  height: 1px;
}

hr {
  display: block;
  opacity: .5;
}

.card .icon {
  margin-right: .5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

/* src/toaln/styles/animation.css */
html {
  scroll-behavior: smooth;
}

@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

.pending:after {
  display: inline-block;
  animation: ellipses steps(1, end) 1.5s infinite;
  content: "...";
}

@keyframes ellipses {
  0% {
    content: "...";
  }

  25% {
    content: "";
  }

  50% {
    content: ".";
  }

  75% {
    content: "..";
  }

  100% {
    content: "...";
  }
}

/* src/toaln/styles/form.css */
label {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: .5rem;
}

button, input, select, textarea {
  display: block;
  border-radius: var(--border-radius);
  background-color: var(--highlight);
  border-color: currentColor;
  width: 100%;
  margin-top: .25rem;
  margin-bottom: 1rem;
}

button:active, button:focus, button:hover, input:active, input:focus, input:hover, select:active, select:focus, select:hover, textarea:active, textarea:focus, textarea:hover {
  background-color: #0000;
}

textarea {
  resize: vertical;
  min-height: 6.625em;
}

button.card {
  text-align: justify;
  padding: .75rem 1rem;
}

button[disabled] {
  opacity: .625;
}

input:has( + span[role="note"]) {
  margin-bottom: 0;
}

details {
  margin-bottom: 1rem;
}

details > :last-child {
  margin-bottom: 0;
}

/* src/toaln/styles/typography.css */
body {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

label, li, p {
  text-wrap: pretty;
  margin: 0;
}

p:not(:first-child) {
  margin-top: 1rem;
}

ul, ol {
  padding-left: 1rem;
}

@media screen and (min-width: 28rem) {
  h1, h2, h3, h4, h5, h6 {
    hyphens: auto;
  }

  label, li, p {
    hyphens: auto;
    text-align: justify;
  }
}

::selection {
  color: var(--background);
  background-color: var(--foreground);
}

a {
  color: var(--color-unvisited, blue);
  text-decoration: underline;
}

a:active, a:focus, a:focus-within, a:hover, a::selection {
  color: var(--background);
  background-color: var(--color-unvisited, blue);
}

a:visited {
  color: var(--color-visited, purple);
}

a:visited:active, a:visited:focus, a:visited:focus-within, a:visited:hover, a:visited::selection {
  background-color: var(--color-visited, purple);
  color: var(--background);
}

blockquote {
  border: 0 solid;
  border-left-width: 1px;
  margin: 0;
  padding-left: 1rem;
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

p:has(code) {
  text-align: left;
}

.icon {
  filter: grayscale(1);
}

/* src/toaln/styles/screens/profile.css */
.profile-item {
  display: flex;
  flex-flow: row;
  align-items:  center;
}

.profile-item span {
  flex-grow: 1;
}

.profile-item button {
  flex-grow: 0;
  max-width: 5.5rem;
  margin-bottom: .25rem;
}

.profile-item button + button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.profile-item button:has( + button) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

/* src/toaln/styles/screens/typing.css */
.typing-input-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
}

.typing-text {
  outline: none;
}

.typing-text-container {
  overflow-y: auto;
  scroll-behavior: smooth;
  max-height: 6em;
}

.typing-text-container code {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.typing-text .completed, .typing-text .remaining {
  color: var(--muted);
}

.typing-text .current {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

select#typing-input_length {
  width: calc(100% - 2rem);
  margin-left: 2rem;
}

/* src/toaln/styles/popup-modal.css */
body:has(.popup-modal) {
  overflow: hidden;
}

.popup-modal {
  position: fixed;
  z-index: 500;
  overflow-y: scroll;
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: 1px solid;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  inset: 1rem;
  box-shadow: 0 .5rem 1rem #00000040;
}

/* src/toaln/styles/context-menu.css */
.context-menu {
  position: absolute;
  z-index: 1000;
  background-color: var(--background);
  border-radius: var(--border-radius);
  border: 1px solid;
  min-width: 160px;
  max-width: 320px;
  padding: 0;
  box-shadow: 0 .5rem 1rem #00000040;
}

.context-menu button {
  text-align: left;
  display: block;
  background-color: #0000;
  border: 0;
  margin: 0;
  padding: .5rem 1rem;
}

.context-menu button:active, .context-menu button:focus, .context-menu button:hover {
  background-color: var(--highlight);
}

.context-menu .margin + button {
  margin-top: .75rem;
}

/* src/toaln/app.css */

