/*
 * 1. Remove animations when motion is reduced (opinionated).
 * 2. Remove fixed background attachments when motion is reduced (opinionated).
 * 3. Remove timed scrolling behaviors when motion is reduced (opinionated).
 * 4. Remove transitions when motion is reduced (opinionated).
 */

@media (prefers-reduced-motion: reduce) {

  *,
  ::before,
  ::after {
    /* 1 */
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;

    /* 2 */
    background-attachment: initial !important;

    /* 3 */
    scroll-behavior: auto !important;

    /* 4 */
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}