.typing-input-hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 1px;
  height: 1px;
  margin: 0;
  padding: 0;
}

.typing-text {
  outline: none;
}

.typing-text-container {
  max-height: 6em;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.typing-text-container code {
  display: block;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.typing-text .completed,
.typing-text .remaining {
  color: var(--muted);
}

.typing-text .current {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
}

select#typing-input_length {
  margin-left: 2rem;
  width: calc(100% - 2rem);
}