label {
  display: block;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

button,
input,
select,
textarea {
  display: block;
  width: 100%;
  border-color: currentColor;
  border-radius: var(--border-radius);
  margin-top: 0.25rem;
  margin-bottom: 1rem;
  background-color: var(--highlight);
}

button:active,
button:focus,
button:hover,
input:active,
input:focus,
input:hover,
select:active,
select:focus,
select:hover,
textarea:active,
textarea:focus,
textarea:hover {
  background-color: transparent;
}

textarea {
  resize: vertical;
  min-height: 6.625em;
}

button.card {
  text-align: justify;
  padding: 0.75rem 1rem;
}

button[disabled] {
  opacity: 0.625;
}

input:has(+span[role="note"]) {
  margin-bottom: 0px;
}

details {
  margin-bottom: 1rem;
}

details>*:last-child {
  margin-bottom: 0px;
}
