.messages {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.message-assistant,
.message-user {
  padding: 0.75rem 1rem;
  border-radius: var(--border-radius);
  background-color: var(--highlight);
}

.message-assistant {
  margin-right: 2rem;
  border-bottom-left-radius: 0;
}

.message-user {
  margin-left: 2rem;
  border-bottom-right-radius: 0;
}

textarea.message-user {
  width: calc(100% - 2rem);
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.row.reverse {
  flex-direction: row-reverse;
}

.screen {
  display: block;
  max-width: 32rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
}

.vertical-layout {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

.vertical-layout>* {
  margin: 0;
}

.margin {
  height: 1px;
  opacity: 0;
}

hr {
  display: block;
  opacity: 0.5;
}

.card .icon {
  margin-right: 0.5em;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}